.show{
    opacity:1;
    visibility: visible;
    /*display:block;*/
    z-index:99;
}
.hide{
    transition: all 0.5s ease-out;
    /*display:none;*/
    opacity:0;
    visibility: hidden;
}

.animacion{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    overflow: hidden;
    z-index: 1;
}

.animacion img{
    z-index: -1;
}

.animacion.bg{
    background: #fff;
}

.animacion.bg img{
    position:absolute;
    left:50vw;
    top:50vh;
}

/* en este caso el boom del comic */
.animacion img{
    position:absolute;
    left: 20vw;
    top: -5vh;
}

.animacion.bg img{
    width: 1vw;
    height: 1vh;
}

/* Animación STRIKE! */

/* Acá se maneja el texto y la imagen de la explosión  */ 

.animacion.strike{
    overflow:hidden;
}


.animacion.strike h1 {
    position: absolute;
    left: 28vw;
    top: 35vh;
    font-size: 8.8rem;
    /*z-index: 1;*/
    text-shadow: 4px 4px 4px blue;
}

#strikeWord{
    font-weight:900;
    color: white;
}


/* Animación STRIKE! */

/* Animación SPARE */

/* Acá se maneja el Gif que va por detrás  */ 


/* Acá se maneja el texto y la imagen de la explosión  */ 


.animacion.spare h1{
    position:absolute;
    left: 28vw;
    top: 35vh;
    font-size:10rem;
    text-shadow: 4px 4px 4px blue;
}


#spareWord{
    font-weight:900;
    color: white;
}

/* Animación SPARE */



/* Animación bola fuera */

.animacion.bola-fuera h1{
    position:absolute;
    left: 10vw;
    top: 60vh;
    font-size:10rem;
    text-shadow: 5px 4px 4px blue;
    /*z-index:1;*/
}

#bolaFueraWord{
    font-weight:900;
    color: white;
}

/* Animación espera */

.animacion.espera h1{
    position:absolute;
    left: 20vw;
    top: 45vh;
    font-size:10rem;
    text-shadow: 5px 4px 4px blue;
}
.animacion.espera h2{
    font-size:5rem;
    text-shadow: 5px 4px 4px blue;
}

#esperaWord{
    font-weight:900;
    color: white;
}

/* Animación tirar */

.animacion.tirar h1{
    position:absolute;
    left: 30vw;
    top: 30vh;
    font-size:10rem;
    text-shadow: 5px 4px 4px blue;
    /*z-index:1;*/
}
.animacion.tirar h2{
    font-size:5rem;
    text-shadow: 5px 4px 4px blue;
}

#tirarWord{
    font-weight:900;
    color: white;
}



/* Animación finalizacion de juego */

.animacion.finish .textos{
    position: absolute;
    left: 10vw;
    top: 20vh;
}

.animacion.finish h1{
    font-size:10rem;
    text-shadow: 5px 4px 4px blue;
    /*z-index:1;*/
}
.animacion.finish h2{
    font-size:5rem;
    text-shadow: 5px 4px 4px blue;
}

#finishWord{
    font-weight:900;
    color: white;
}


/* Animación finalizacion de juego */


