/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] { display: none; }

/*  Colours for Syntax Highlighted pre's */
.syntax-highlight {color:white;background-color:black;padding:5px 10px;}
.syntax-highlight > .key {color:#ffbf35}
.syntax-highlight > .string {color:#5dff39;}
.syntax-highlight > .number {color:#70aeff;}
.syntax-highlight > .boolean {color:#b993ff;}

@font-face {
  font-family: "bolero";
  font-display: swap;
  src: local('bolero.woff2'), url("bolero.woff2");
}

body{
    font-family: 'bolero', Arial-Black;
    background: #0000ff; /* Old browsers */
    background: -moz-linear-gradient(top, #0000ff 0%, #934ddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0000ff 0%,#934ddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0000ff 0%,#934ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#934ddd',GradientType=0 ); /* IE6-9 */
}

.lanzador-debug:active, .lanzador-debug:focus{
    background:yellow !important;
    color:black !important;
}