<!DOCTYPE html>
<!-- Notse that adding an appcache really speeds things up after the first load
    You need to amend the appcache file to meet your needs.
    Don't forget to change the appcache file if you update ANY
    of the files in it otherwise the old versions will ALWAYS be used.
<html lang="en" manifest="./uibuilder.appcache">
-->
<html lang="en">
  <!--
    This is the default, template html for uibuilder.
    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically
    update the ui based on incoming/outgoing messages from/to the
    Node-RED server.

    You will want to alter this to suite your own needs. To do so,
    copy this file to <userDir>/uibuilder/<url>/src.
-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"
    />

    <title>BOLERO</title>
    <meta
      name="description"
      content="Node-RED UI Builder - VueJS + bootstrap-vue version"
    />

    <link rel="icon" href="./images/pino.ico" />

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="./manifest.json" />
    <meta name="theme-color" content="#3f51b5" />

    <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Node-RED UI Builder" />

    <!-- Used if adding to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Node-RED UI Builder" />

    <!--<link rel="preload" as="video" href="./images/spare.webm" type="video/webm" />-->
    <!--<link rel="preload" as="video" href="./images/tiro.webm" type="video/webm" />-->
    <!--<link rel="preload" as="video" href="./images/espera.webm" type="video/webm" />-->
    <!--<link rel="preload" as="video" href="./images/bola-fuera.webm" type="video/webm" />-->
    <!--<link rel="preload" as="video" href="./images/strikeGif.webm" type="video/webm" />-->
    <!--<link rel="preload" as="video" href="./images/finish.webm"  type="video/webm" />-->
    <link
      rel="preload"
      as="font"
      href="bolero.woff2"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      as="script"
      href="../uibuilder/vendor/socket.io/socket.io.js"
    />
    <link
      rel="preload"
      as="script"
      href="../uibuilder/vendor/vue/dist/vue.min.js"
    />
    <link
      rel="preload"
      as="script"
      href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"
    />
    <link
      rel="preload"
      as="script"
      href="../uibuilder/vendor/gsap/dist/gsap.min.js"
    />
    <link
      rel="preload"
      as="script"
      href="../uibuilder/vendor/jquery/dist/jquery.min.js"
    />
    <link rel="preload" as="script" href="./uibuilderfe.min.js" />
    <link rel="preload" as="script" href="./index.js" />

    <link
      rel="preload"
      as="style"
      href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="preload"
      as="style"
      href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.css"
    />
    <link rel="preload" as="style" href="./publicidad.css" />
    <link rel="preload" as="style" href="./index.css" />
    <link rel="preload" as="style" href="./animate.css" />
    <link rel="preload" as="style" href="./tablero-flex.css" />
    <link rel="preload" as="style" href="./pinos.css" />
    <link rel="preload" as="style" href="./animaciones.css" />

    <link
      type="text/css"
      rel="stylesheet"
      href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.css"
    />

    <link rel="stylesheet" href="./publicidad.css" media="all" />
    <link rel="stylesheet" href="./index.css" media="all" />
    <link rel="stylesheet" href="./animate.css" />
    <link rel="stylesheet" href="./tablero-flex.css" media="all" />
    <link rel="stylesheet" href="./pinos.css" media="all" />
    <link rel="stylesheet" href="./animaciones.css" media="all" />
  </head>
  <body>
    <!-- ************************************* Publicidad *************************************-->
    <div id="publicidad" class="">
      <h1 style="position: absolute; top: 45vh; left: 10vw;">
        Este div se muestra hasta que se abra el juego
      </h1>
    </div>
    <!-- ************************************* Publicidad *************************************-->
    <div id="app" v-cloak>
      <div class="d-flex flex-column tablero">
        <div
          v-for="(item, index) in items"
          :key="index"
          class="info-jugador d-flex flex-row"
          :style="rowJugadorHeight"
          v-bind:class="{ tirador: values.jugadorlanza !== '' && index == values.jugadorlanza }"
          v-bind:data-jugador="item.player"
        >
          <!-- Si falla la prueba de los containers y rows seguir con esto -->
          <div class="jugador align-self-center">
            <p>{{ parseNamePlayer(item.player) }}</p>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.primero.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.primero.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.primero.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.segundo.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.segundo.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.segundo.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.tercero.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.tercero.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.tercero.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.cuarto.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.cuarto.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.cuarto.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.quinto.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.quinto.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.quinto.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.sexto.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.sexto.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.sexto.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.septimo.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.septimo.second}}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.septimo.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.octavo.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.octavo.second }}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.octavo.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tiro primero">
                <p>{{ item.noveno.first }}</p>
              </div>
              <div class="tiro segundo">
                <p>{{ item.noveno.second }}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.noveno.score }}</p>
            </div>
          </div>
          <div class="puntaje parcial">
            <div class="d-flex">
              <div class="tres tiro primero">
                <p>{{ item.decimo.first }}</p>
              </div>
              <div class="tres tiro segundo">
                <p>{{ item.decimo.second }}</p>
              </div>
              <div class="tres tiro tercero">
                <p>{{ item.decimo.third }}</p>
              </div>
            </div>
            <div class="puntos">
              <p>{{ item.decimo.score }}</p>
            </div>
          </div>
          <div class="puntaje final align-self-center">
            <p>{{ item.final }}</p>
          </div>
        </div>
      </div>

      <!-- ************************************* animaciones *************************************-->

      <!-- ************************************* BOTONERA ************************************* -->
      <div class="d-flex">
        <label>Animaciones</label>
        <div class="m-2">
          <b-button @click="animacionStrike" variant="success">
            Strike!
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="animacionSpare" variant="info">
            Spare!
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="animacionFinish" variant="primary">
            Final de juego
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="animacionBolaFuera" variant="primary">
            Bola Fuera
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="animacionEspera" variant="secondary">
            Espera
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="animacionTiro" variant="danger">
            Tiro
          </b-button>
        </div>
      </div>
      <div class="d-flex">
        <label>Juego</label>
        <b-button @click="pinos" variant="success">
          {{ divPinosOculto ? 'Ver pinos' : 'Ocultar pinos'}}
        </b-button>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="m-2">
          <h4>Flujo del juego</h4>
        </div>
      </div>
      <div class="d-flex">
        <div class="m-2">
          <b-button @click="abrirJuego(true)" variant="success">
            Comenzar Juego
          </b-button>
        </div>
        <div class="m-2">
          <b-button @click="abrirJuego(false)" variant="danger">
            Terminar Juego
          </b-button>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-center">
        <div class="m-2">
          <select class="form-control" v-model="debugJugadores">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <b-button @click="cargarJugadores(debugJugadores)" variant="success">
            Cargar Jugadores
          </b-button>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
          <div v-for="(item, index) in items" :key="index">
            <div class="m-2">
              <input
                placeholder="Cargue el nombre del jugador"
                class="form-control"
                type="text"
                v-model="item.player"
                @keyup="debugSetNombre(index)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="m-2 text-center" v-show="items.length > 0">
          <h5>Indique quien va a lanzar</h5>
          <div class="d-flex flex-row justify-content-center">
            <div v-for="(item, index) in items" :key="index" class="m-2">
              <b-button
                @click="indicaLanzador(index)"
                variant="success"
                class="lanzador-debug"
                v-show="item.player !== ''"
              >
                {{ item.player }}
              </b-button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="m-2 text-center" v-show="items.length > 0">
          <h5>Simulación de juego</h5>
          <div class="d-flex flex-row flex-wrap">
            <div v-for="(item, index) in items" :key="index" class="m-2">
              <select v-model="debugPuntos[index]" class="form-control">
                <option value="0"
                  >0 (este valor se representa como 0 después del
                  disparo)</option
                >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <b-button
                @click="debugTiro(index+1)"
                variant="success"
                v-show="item.player !== ''"
              >
                Simular Tiro {{item.player}}
              </b-button>
            </div>
          </div>
        </div>
      </div>

      <!-- ************************************* BOTONERA ************************************* -->

      <div id="strike" class="hide animacion strike bg">
        <video
          id="strikeVideo"
          :src="gifs.strike.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="strikeVideo" src="" />-->
      </div>
      <div id="strikeWord" class="hide animacion strike">
        <div class="d-flex justify-content-center align-items-center img-container">
          <img class="hide" src="./images/comic-boom.png" />
        </div>
        <h1>STRIKE!!</h1>
      </div>

      <div id="spare" class="hide animacion spare bg">
        <video
          id="spareVideo"
          :src="gifs.spare.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="spareVideo" src="" />-->
      </div>
      <div id="spareWord" class="hide animacion spare">
        <div class="d-flex justify-content-center align-items-center img-container">
          <img class="hide" src="./images/comic-boom.png" />
        </div>
        <h1>SPARE!</h1>
      </div>

      <div id="finish" class="hide animacion finish bg">
        <video
          id="finishVideo"
          :src="gifs.finish.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="finishVideo" src="./images/finish.gif" />-->
      </div>
      <div id="finishWord" class="hide animacion finish">
        <div class="textos">
          <h1>Juego Finalizado</h1>
          <h2>Felicitaciones {{ parseNamePlayer(ganador) }}</h2>
        </div>
      </div>

      <div id="bolaFuera" class="hide animacion bola-fuera bg">
        <video
          id="bolaFueraVideo"
          :src="gifs.bolaFuera.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="bolaFueraVideo" src="" />-->
      </div>
      <div id="bolaFueraWord" class="hide animacion text bola-fuera">
        <h1>Bola Fuera</h1>
      </div>

      <div id="espera" class="hide animacion espera bg">
        <video
          id="esperaVideo"
          :src="gifs.espera.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="esperaVideo" src="" />-->
      </div>
      <div id="esperaWord" class="hide animacion text espera">
        <h1>Espera</h1>
      </div>

      <div id="tirar" class="hide animacion tirar bg">
        <video
          id="tirarVideo"
          :src="gifs.tirar.src"
          muted="muted"
          preload="auto"
          type="video/webm"
        ></video>
        <!--<img id="tirarVideo" src="" />-->
      </div>
      <div id="tirarWord" class="hide animacion text tirar">
        <h1>
          Tiro {{
          parseNamePlayer(values['jugador'+(parseInt(values.jugadorlanza)+1).toString()+'nombre'])
          }}
        </h1>
      </div>

      <!-- ************************************* animaciones *************************************-->

      <!-- ************************************* Pinos *************************************-->

      <div id="statusPinos" class="hide">
        <div class="d-flex flex-column justify-content-center mt-2">
          <div class="d-flex flex-row justify-content-center">
            <div class="pino-container">
              <img
                id="pino6"
                class="pino"
                v-bind:class="{ ausente: statusPinos[6] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino7"
                class="pino"
                v-bind:class="{ ausente: statusPinos[7] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino8"
                class="pino"
                v-bind:class="{ ausente: statusPinos[8] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino9"
                class="pino"
                v-bind:class="{ ausente: statusPinos[9] == false }"
                src="./images/pino.png"
              />
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="pino-container">
              <img
                id="pino3"
                class="pino"
                v-bind:class="{ ausente: statusPinos[3] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino4"
                class="pino"
                v-bind:class="{ ausente: statusPinos[4] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino5"
                class="pino"
                v-bind:class="{ ausente: statusPinos[5] == false }"
                src="./images/pino.png"
              />
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="pino-container">
              <img
                id="pino1"
                class="pino"
                v-bind:class="{ ausente: statusPinos[1] == false }"
                src="./images/pino.png"
              />
            </div>
            <div class="pino-container">
              <img
                id="pino2"
                class="pino"
                v-bind:class="{ ausente: statusPinos[2] == false }"
                src="./images/pino.png"
              />
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="pino-container">
              <img
                id="pino0"
                class="pino"
                v-bind:class="{ ausente: statusPinos[0] == false }"
                src="./images/pino.png"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- ************************************* Pinos *************************************-->

      <div class="d-flex flex-row justify-content-center debug" style="">
        <div style="width: 33%;">
          <h2>VALORES</h2>
          <pre style="background: black; font-size: 2rem; color: green;">
                        {{ values }}
                    </pre
          >
        </div>
        <div style="width: 33%;">
          <h2>Items</h2>
          <pre style="background: black; font-size: 2rem; color: green;">
                        {{ items }}
                    </pre
          >
        </div>
        <div style="width: 33%;">
          <h2>Pinos</h2>
          <pre style="background: black; font-size: 2rem; color: green;">
                        {{ statusPinos }}
                    </pre
          >
        </div>
      </div>
    </div>

    <!-- These MUST be in the right order. Note no leading / -->
    <!-- REQUIRED: Socket.IO is loaded only once for all instances
                     Without this, you don't get a websocket connection -->
    <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

    <!-- Vendor Libraries - Load in the right order -->
    <!--<script src="../uibuilder/vendor/vue/dist/vue.js"></script>-->
    <!-- dev version with component compiler -->
    <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>
    <!-- prod version with component compiler  -->
    <!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
    <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="../uibuilder/vendor/gsap/dist/gsap.min.js"></script>
    <script src="../uibuilder/vendor/jquery/dist/jquery.min.js"></script>
    <!-- REQUIRED: Sets up Socket listeners and the msg object -->
    <!-- <script src="./uibuilderfe.js"></script>   //dev version -->
    <script src="./uibuilderfe.min.js"></script>
    <!--    //prod version -->
    <!-- OPTIONAL: You probably want this. Put your custom code here -->
    <script src="./index.js"></script>
  </body>
</html>
