@font-face {
  font-family: "bolero";
  src: local('bolero.woff2'), url("bolero.woff2");
  font-display: swap;
}

.tablero{
    height: 100vh;
    color: white !important;
    text-shadow: 3px 3px 3px orange;
}

.tablero .info-jugador{
    flex-grow:1;
    transition: all 0.5s cubic-bezier(0.71, 0.01, 1,-0.08);
    border: yellow solid 1px !important;
}

.tirador{
    background:yellow;
    color:black;
}

.puntaje, 
.jugador{
    font-family: "bolero";
    font-size: 2.5rem;
    flex-grow: 1;
    text-align: center;
}

.jugador {
    width: 15vw;
}

.jugador p,
.puntaje.final p,
.puntaje.parcial p{
    font-size: 2.5rem;
    overflow-wrap: break-word;
    margin-bottom: 0;
}

.puntaje.parcial{
    width: 7vw;
}

.puntaje.parcial.ultimo{
    width: 10vw;
}

.puntaje.parcial > div{
    height:50%;
}

/* esto es el p donde se va colocando el puntaje parcial del tiro */

.puntaje.final{
    width: 5vw;
}

.puntaje.final,
.puntaje.parcial{
    /*padding: 0px;*/
}

.puntaje.parcial{
    border: black solid 2px;
}

/*defino la altura de las casillas que sirven para el puntaje parcial y la cantidad de pinos que se han volteado*/
.tiro, .puntos{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:2.5rem;
}

.tiro p, .puntos p{
    /*margin-bottom: 0;*/
}

.tiro{
    width:50%;
    border-bottom:white solid 2px;
}

.tiro.tres{
    width:33%;
}

.tiro.segundo{
    border-left:white solid 2px;
}

.tiro.tercero{
    border-left:white solid 2px;
}

.tirador .tiro.tercero, .tirador .tiro.segundo{
    border-left:black solid 2px;
}

.tirador .tiro{
    border-bottom:black solid 2px;
}